<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <description>Configurações gerais - spring framework</description>

  <!-- transação delimitada por anotações -->
  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

  <!-- IoC com anotações -->
  <context:annotation-config />
  <context:component-scan base-package="br.com.ucb.sisgestor" />

  <!-- JTA -->
  <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" />

  <!-- Datasource -->
  <bean id="sisgestorDS" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="java:SisGestorDB" />
  </bean>

  <!-- Lista de classes mapeadas (anotadas) para o Hibernate -->
  <bean id="entidadesAnotadas" class="br.com.ucb.sisgestor.util.hibernate.ClassesAnotadas" factory-method="getClassesAnotadas" />
  
  <!-- Configurações para o hibernate -->
  <bean id="cfgHibernate" class="br.com.ucb.sisgestor.util.hibernate.ConfiguracaoHibernate" factory-method="getPropriedades" />
  
  <!-- sessionFactory do hibernate -->
  <bean id="hbnSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="dataSource" ref="sisgestorDS" />
    <property name="annotatedClasses" ref="entidadesAnotadas" />
    <property name="hibernateProperties" ref="cfgHibernate" />
  </bean>
  
  <!-- Utilitário para hibernate -->
  <bean id="hibernateUtil" class="br.com.ucb.sisgestor.util.hibernate.HibernateUtil" factory-method="getInstancia" />
  
</beans>
